<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-10 block">
          <h5>Size เสื้อ <span class="star">*</span></h5>
          <hr>
          <div class="row" *ngFor="let list of lists; let i = index" style="margin-top: 20px;">
            <div class="col-md-10">
              <div class="input-group">
                <div class="input-group-btn" dropdown>
                  <button 
                  dropdownToggle type="button" 
                  class="btn btn-primary dropdown-toggle" 
                  aria-haspopup="true" aria-expanded="false" 
                  >
                    Size
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem" 
                    *ngFor="let nm of sizeNM"
                    >
                      <a class="dropdown-item" (click)="getSize(nm,i)">{{ nm }}</a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                      <a class="dropdown-item" (click)="getSize('OV',i)">สั่งตัด</a>
                    </li>
                  </ul>
                </div>
                <input type="text" class="form-control" 
                placeholder="เลือกไซส์" 
                [(ngModel)]="list.size" 
                [disabled]="list.edit"
                >

                <input type="number" min="1" class="form-control" 
                tooltip="จำนวน"
                placeholder="จำนวน" [(ngModel)]="list.amount" 
                (ngModelChange)="value1Changed()"
                >
                <ng-container *ngIf="i === 0; else elseTemplate">
                    <span class="input-group-btn">
                        <button class="btn btn-primary fa fa-plus" 
                        tooltip="สั่งเพิ่ม" placement="right" 
                        (click)="newOrder()" 
                        ></button>
                    </span>
                </ng-container>
                <ng-template #elseTemplate>
                    <span class="input-group-btn">
                        <button class="btn btn-danger fa fa-minus" tooltip="ลบ" 
                        placement="right" (click)="rmOrder(i)"
                        ></button>
                    </span>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <hr>
            <label class="custom-control custom-checkbox" tooltip="ส่ง EMS">
              <input type="checkbox" class="custom-control-input" 
              [(ngModel)]="isEms" (ngModelChange)="value1Changed()"
              >
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">EMS</span>
            </label>
              <div [collapse]="!isEms">
                <label for="address">กรอกที่อยู่ <span class="star">*</span></label>
                <textarea class="form-control" id="address" rows="3" [(ngModel)]="address"></textarea>
              </div>
            <p> ส่ง ems เพิ่ม 50 บาท ตัวต่อไปตัวละ 20 <span class="star">*</span></p>
            <hr>
            <ul class="list-group">
              <li class="list-group-item" 
              *ngFor="let list of lists"
              > 
              <ng-container *ngIf="list.size == null; else elseTemplate">
                กรุณาเลือก ไซส์เสื้อ
              </ng-container>
              <ng-template #elseTemplate>
                ไซส์ {{ list.size }} จำนวน {{ list.amount }} ตัว
              </ng-template>
              </li>
            </ul>
            <span style="float: right;margin-top:20px;text-align: right">
              ราคาเสื้อ : {{ shirtCost }} บาท <br>
              ค่าส่ง : {{ shippingCost }} บาท <br>
              <hr>
              รวมราคา : {{ total }} บาท
            </span>
          </div>
  </div>
</div>
