<div class="container" style="margin-top:20px">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Size เสื้อ
        </div>
        <div class="card-block">
          <hr>
          <div class="row" *ngFor="let list of lists; let i = index" style="margin-top: 20px;">
            <div class="col-md-8">
              <div class="input-group">
                <div class="input-group-btn" dropdown>
                  <button 
                  dropdownToggle type="button" 
                  class="btn btn-outline-warning dropdown-toggle" 
                  aria-haspopup="true" aria-expanded="false" 
                  >
                    Size
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem">
                      <a class="dropdown-item" (click)="getSize('M',i)">M</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-item" (click)="getSize('L',i)">L</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-item" (click)="getSize('XL',i)">XL</a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                      <a class="dropdown-item" (click)="getSize('OV',i)">สั่งตัด</a>
                    </li>
                  </ul>
                </div>
                <input type="text" class="form-control" 
                placeholder="เลือกไซส์" 
                [(ngModel)]="list.size" 
                [disabled]="list.edit"
                [style]="{width:'20px !important'}" 
                >

                <input type="number" min="1" class="form-control" 
                placeholder="จำนวน" [(ngModel)]="list.amount" 
                (ngModelChange)="value1Changed()"
                >
                <ng-container *ngIf="i === 0; else elseTemplate">
                  <button class="input-group-addon btn btn-outline-warning fa fa-plus" 
                  tooltip="สั่งเพิ่ม" placement="right" 
                  (click)="newOrder()" 
                  ></button>
                </ng-container>
                <ng-template #elseTemplate>
                  <button class="input-group-addon btn btn-outline-danger fa fa-minus" tooltip="ลบ" 
                  placement="right" (click)="rmOrder(i)"
                  ></button>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-md-8" style="margin-top: 20px;">
            <hr>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" 
              [(ngModel)]="isEms" (ngModelChange)="value1Changed()"
              >
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">EMS</span>
            </label>
            <hr>
            <ul class="list-group">
              <li class="list-group-item" 
              *ngFor="let list of lists"
              > 
              <ng-container *ngIf="list.size == null; else elseTemplate">
                กรุณาเลือก ไซส์เสื้อ
              </ng-container>
              <ng-template #elseTemplate>
                ไซส์ {{ list.size }} จำนวน {{ list.amount }} ตัว
              </ng-template>
              </li>
            </ul>
            <p style="float: right;margin-top: 20px">
              รวมราคา : {{ total }} บาท
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
